<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.SysLogMapper">

    <!-- 分页查询日志列表 -->
    <select id="selectLogPage" resultType="com.example.shop.entity.SysLog">
        SELECT * FROM sys_log
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="operation != null and operation != ''">
                AND operation LIKE CONCAT('%', #{operation}, '%')
            </if>
            <if test="module != null and module != ''">
                AND module = #{module}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
